@import "https://unpkg.com/open-props";
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  position: relative;
  z-index: var(--layer-2);
  outline: 2px solid var(--red-5);
  outline-offset: 0.2em;
}

button,
input {
  font: inherit;
}

.page {
  color: black;
  background-color: #e7eef8;
  display: grid;
  grid-template-areas: "main";
  min-height: 100vh;
  line-height: var(--font-lineheight-2);
  font-family: var(--font-sans);
}
.page__main {
  grid-area: main;
}

.main {
  display: grid;
}
@media screen and (min-width: 576px) {
  .main {
    place-items: center;
  }
}

.card-form {
  display: grid;
  gap: var(--size-6);
  place-items: center;
  grid-template-rows: 1fr auto;
}
@media screen and (min-width: 576px) {
  .card-form {
    background-color: white;
    gap: 0;
    padding: var(--size-4) var(--size-8);
    width: calc(100% - 2em);
    border-radius: var(--radius-3);
    overflow: hidden;
    box-shadow: 0 0.5em 0.5em rgba(128, 128, 128, 0.15);
  }
}
.card-form__title {
  color: #002757;
  margin-bottom: var(--size-3);
}
@media screen and (min-width: 576px) {
  .card-form__title {
    font-size: var(--font-size-5);
  }
}
.card-form__desc {
  margin-bottom: var(--size-3);
  line-height: var(--font-lineheight-3);
}
.card-form__main-content {
  color: #73848c;
  background-color: white;
  padding: var(--size-8) var(--size-7);
  width: calc(100% - 2em);
  border-radius: var(--radius-3);
  box-shadow: 0 0.5em 0.5em rgba(128, 128, 128, 0.15);
}
@media screen and (min-width: 576px) {
  .card-form__main-content {
    box-shadow: initial;
  }
}
.card-form__label {
  color: #002757;
  display: block;
  margin-bottom: var(--size-1);
  font-size: 0.9em;
}
.card-form__input {
  display: block;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: var(--radius-2);
  padding: 0.7em;
}
.card-form__input:not(.card-form__input:last-child) {
  margin-bottom: 1em;
}
.card-form__footer {
  background-color: white;
  padding: var(--size-3);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.primary-btn {
  color: white;
  background-color: #002757;
  padding: 0.7em 1em;
  border: 1px solid;
  border-radius: var(--radius-2);
  cursor: pointer;
}
.primary-btn:hover {
  color: #002757;
  background-color: white;
}
.primary-btn_no-bg {
  color: #73848c;
  background: 0;
  border: 0;
}
.primary-btn_no-bg:hover {
  opacity: 0.5;
}
.primary-btn_hidden {
  visibility: hidden;
}